<div class="d-flex flex-wrap flex-column w-100 bg-dark col-6">
  <div
    class="onez d-flex p-5 row-col-4 w-100 mx-auto justify-content-center align-items-center text-center"
  >
    <div
      class="p-5 w-100 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h3>LOCATION</h3>
      <p class="mb-3">2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="p-5 mb-3 w-100">
      <h3 class="mb-1">AROUND THE WEB</h3>
      <div class="d-flex justify-content-center align-items-center text-center">
        <p><i class="fa-brands fa-facebook mx-1 p-2 bo"></i></p>
        <p><i class="fa-brands fa-twitter mx-1 p-2 bo"></i></p>
        <p><i class="fa-brands fa-linkedin-in mx-1 p-2 bo"></i></p>
        <p><i class="fa-solid fa-globe mx-1 p-2 bo"></i></p>
      </div>
    </div>
    <div class="w-100">
      <h3>ABOUT FREELANCER</h3>
      <p>
        Freelance is a free to use, licensed Bootstrap theme created by Route
      </p>
    </div>
  </div>
  <div
    class="p-2 d-flex justify-content-center align-items-center text-white secd"
  >
    <p class="pt-2">Copyright © Your Website 2021</p>
  </div>
</div>
