<h1 class="text-center fw-bold mt-4">CONATCT SECTION</h1>
<app-star-d></app-star-d>
<div class="w-50 container my-5">
  <input
    class="py-3 mt-4 form-control border-0 border-bottom soli"
    type="text"
    placeholder="userName"
  />
  <input
    class="py-3 mt-4 form-control border-0 border-bottom solid"
    type="text"
    placeholder="userAge"
  />

  <input
    class="py-3 mt-4 form-control border-0 border-bottom solid"
    type="email"
    placeholder="userEmail"
  />
  <input
    class="py-3 mt-4 form-control border-0 border-bottom solid"
    type="password"
    placeholder="userPassword"
  />

  <button class="btn mt-4 text-white" [style.background-color]="'#1abc9c'">
    Send Message
  </button>
</div>
