<div class="mt-5 container">
  <h1 class="text-center fw-bold mt-5">PORTFOLIO COMPONENT</h1>
  <app-star-d></app-star-d>
  <div class="row g-5 py-4">
    <div class="col-lg-4 col-md-6">
      <div class="imgg rounded-3 overflow-hidden position-relative">
        <img class="rounded-3 w-100" src="./assets/one.png" alt="" />
        <div
          class="layr start-0 top-0 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="imgg rounded-3 overflow-hidden position-relative">
        <img class="rounded-3 w-100" src="./assets/two.png" alt="" />
        <div
          class="layr start-0 top-0 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="imgg rounded-3 overflow-hidden position-relative">
        <img class="rounded-3 w-100" src="./assets/three.png" alt="" />
        <div
          class="layr start-0 top-0 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="imgg rounded-3 overflow-hidden position-relative">
        <img class="rounded-3 w-100" src="./assets/one.png" alt="" />
        <div
          class="layr start-0 top-0 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col">
      <div class="imgg rounded-3 overflow-hidden position-relative">
        <img class="rounded-3 w-100" src="./assets/two.png" alt="" />
        <div
          class="layr start-0 top-0 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="imgg rounded-3 overflow-hidden position-relative">
        <img class="rounded-3 w-100" src="./assets/three.png" alt="" />
        <div
          class="layr start-0 top-0 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
